/* Font Import */
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Ultra.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Bold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Book.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Thin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Wildcard selector to override default browser styles */

* {
    margin: 0;
    padding: 0;
}

/* Variables */

:root {

    --heading-font: 'Gotham', Verdana, sans-serif;
    --body-font: 'Verdana', Arial, sans-serif;
    --primary-color: #EC2F5A;
    --secondary-color: #CA864D;
    --accent-color: #ABCF1B;

}

/* General Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #ececec;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

h3 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

body {
    font-family: var(--body-font);
    background-color: #182129;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
}

.gradient-heading {
    background: linear-gradient(to right, #EC2F5A, #CA864D, #ABCF1B, #CA864D, #EC2F5A);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 9s linear infinite;
}

/* CARDS */

.card {
    background-color: #EC2F5A;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.card .card-content {
    padding: 15px;
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card hr {
    border: 0;
    border-top: px solid #ececec;
    margin: 0;
}

.card-skills {
    font-size: 11px;
    word-spacing: -1px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--accent-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Flex Container */

.row {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px;
    background-color: #ABCF1B;
    margin: 10px 0;
    width: 80%;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}


.row-left {
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    gap: 5px;
}

.c2 {
    width: 46%;
    background-color: #EC2F5A;
}

/* Main */

header {
    margin-bottom: 40px;
}

/* Experience Timeline */

/* Animations */

@keyframes animate-gradient {
    to { background-position: 200%; }
    
}