@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Ultra.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Bold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Book.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Thin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Wildcard selector to override default browser styles */
* {
    margin: 0;
    padding: 0;
}

/* General Styles */
body { 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: 'Verdana', sans-serif; 
    background-color: #eeeeee; }

h1, h2, h3 {
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #252525;
}

hr {
    margin: 60px 0;
}

/* Main */

#landing-page {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
}

/* Page Heading */
#page-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

#page-heading>p {
    padding: 0 10.5vw;
    display: none;
    max-width: 700px;
}

#page-heading .gradient-heading {
    padding: 0 20px;
    font-weight: 900;
    font-size: clamp(5em, 24vw, 8em);   /* Min, Preferred, Max. */
    background: linear-gradient(to right, #EC2F5A, #CA864D, #ABCF1B, #CA864D, #EC2F5A);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 14s linear infinite;
    text-shadow: rgba(255,255,255,0.25) 0px 8px 8px;
}

#page-heading h2 span {
    display: inline-block;
    text-transform: none;
    font-size: 1.6em;
    letter-spacing: 2px;
    font-family: monospace;
    border-right: 2px solid;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s /* steps(9) */, cursor .4s step-end infinite alternate;
}

#page-heading h3 {
    font-weight: 300;
    font-size: 1.4em;
}

/* Social Buttons */

#social-buttons {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 3.8vw;
    height: 12vh;
}

.linkbutton {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    width: 90%;        
    padding: 12px 20px;
    text-align: center;
    display: flex; 
    align-items: center;
    border-radius: 18px;
    transition: max-width 0.3s ease-out;
}

.linkbutton svg {
    margin-right: 20px;
    width: 45px;
}

a {
    text-decoration: none;
    color: black;
}

.linkbutton h1 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
}

/* Skills */
#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 0 4vw;
    height: 3000px;
}
#skills span {
    margin: 5px 10px;
    padding: 6px 25px;
    background-color: #099faa;
    border-radius: 5px;
    font-size: 1.6em;
    color: #ffffff;
    font-family: Gotham;
    font-weight: 600;
    flex-shrink: 1;
}

/* Footer */


/* Animation */

@keyframes animate-gradient {
    to { background-position: 200%; }
    
}

@keyframes typing {
    from { width: 0; }
}

@keyframes cursor {
    50% { border-color: transparent }
}

/* Media Query: Large or Landscape phones (>576px) */
@media screen and (min-width: 576px) {

    /* Landing Page h1 */
    #page-heading .gradient-heading {
        padding: 0 8px;
        font-size: clamp(5em, 14vw, 8em);   /* Min, Preferred, Max. */
    }

    #page-heading .gradient-heading.hover-gradient-git {
        background: linear-gradient(to right, #FF442D, #841D39, #531C50, #841D39, #FF442D);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #page-heading .gradient-heading.hover-gradient-linkedin {
        background: linear-gradient(to right, #004183, #0A66C2, #5CA5EE, #0A66C2, #004183);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #page-heading .gradient-heading.hover-gradient-artstation {
        background: linear-gradient(to right, #14142C, #1B7195, #13AFF0, #1B7195, #14142C);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #page-heading > p {
        display: block;
    }

    /* h2 span */

    #page-heading h2 span {
        font-size: clamp(1.8em, 4vw, 2.3em); 
        letter-spacing: 5px;
        border-right: 3px solid;
    }

    /* Social Media Buttons */
    .linkbutton {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
        aspect-ratio: 1 / 1;    /* This keeps the aspect ratio 1:1 */
        padding: 1px;
        text-align: center;
        flex: 1 1 5em;          /* Flex-grow, flex-shrink, flex-basis */
        display: flex; 
        justify-content: center; 
        align-items: center;
        max-width: 8em;         /* As aspect ratio is fixed, we need to limit width to stop height going out of bounds */
        min-width: 4em;
        border-radius: 24%;
        transition: max-width 0.3s ease-out;
    }

    .linkbutton span {
        display: none;
    }

    #git.linkbutton:hover {
        background: linear-gradient(to right, #FF442D, #841D39, #531C50, #841D39, #FF442D);
        background-size: 800%;
        fill: white;
        animation: animate-gradient 9s linear infinite;
        max-width: 8.4em;
    }
    #linkedin.linkbutton:hover {
        background: linear-gradient(to right, #004183, #0A66C2, #5CA5EE, #0A66C2, #004183);
        background-size: 800%;
        fill: white;
        animation: animate-gradient 9s linear infinite;
        max-width: 8.4em;
    }
    #artstation:hover {
        background: linear-gradient(to right, #14142C, #1B7195, #13AFF0, #1B7195, #14142C);
        background-size: 800%;
        fill: white;
        animation: animate-gradient 9s linear infinite;
        max-width: 8.4em;
    }

    .linkbutton svg {
        margin-right: 0;
        width: 55%;
    }

    .linkbutton:hover svg {
        fill: white;
    }
}

/* Media Query: Laptops and Larger (1200px) */
@media screen and (min-width: 1200px) {
    /*Page Heading */
    
    /* Social Buttons */
    .linkbutton {
        max-width: 10em;
    }

    #git.linkbutton:hover {
        max-width: 10.4em;
    }

    #linkedin.linkbutton:hover {
        max-width: 10.4em;
    }

    #artstation.linkbutton:hover {
        max-width: 10.4em;
    }

}